Mode actuel : {{ Data.Modif ? 'Modif' : 'Normal' }} <br/>
<button ng-click="Toggle()">Changer mode</button><br/>
<table ng-show="Data.Modif">
	<tr ng-show="Data.Map.Focus.Nation">
		<td>Modifier Nation {{Data.Map.Focus.Nation}} (à faire)</td>
	</tr>
	<tr ng-show="Data.Map.Focus.Nation">
		<td>Nom : <input type="text" ng-model="Data.Map.Nations[Data.Map.Focus.Nation].Nom"></td>
	</tr>
	<tr ng-show="Data.Map.Focus.Nation">
		<td>Nom Détaillé : <input type="text" ng-model="Data.Map.Nations[Data.Map.Focus.Nation].NomLong"></td>
	</tr>
	<tr ng-hide="Data.Map.Focus.Nation">
		<td>Ajouter Nation (à faire) </td>
	</tr>
	<tr ng-hide="Data.Map.Focus.Nation">
		<td><input type="text" ng-model="New"> <button ng-disabled="!New" ng-click="Add(New)">Add</button></td>
	</tr>
</table>
<a class="btn btn-default" href="#/" role="button">Back</a>