<uib-accordion close-others="false" ng-cloak>
	<div uib-accordion-group class="panel-default" heading="Nations" is-open="true">
		<filtre name="Nation" item="filNation"/></filtre> | <span class="glyphicon glyphicon-fullscreen" ng-class="{ 'text-muted':(!VM.Zoom.isZoomed()) }" style="cursor:pointer" ng-click="VM.Zoom.Org()"> </span>
		<div class="nationlist">
			<div ng-repeat="(key,region) in VM.Data.Map.Nations | orderObjectBy:'Nom' | filter:filNation" ng-class="{active:VM.Data.Map.Focus.Nation==region.key}" ng-mouseover="VM.Data.OverNation(region.key)">
				<div ng-click="VM.Data.PinIt(region.key)">{{region.Nom}}</div>
				<div ng-click="VM.Data.PinIt(region.key)"><span class="badge">{{region.Hexs.length | number}}</span></div>
				<div>
					<span class="glyphicon glyphicon-search" style="cursor:pointer!important" ng-click="VM.Zoom.Box(VM.Data.Box(region.key, 200))"> </span>
					<span class="glyphicon glyphicon-pushpin" ng-show="region.key == VM.Data.Pin"> </span>
				</div>
			</div>
			<!--H: {{VM.Data.Map.Focus.Over}} N: {{VM.Data.Map.Hexs[VM.Data.Map.Focus.Over]}} F: {{ VM.Data.Map.Focus.Hexs | json }}-->
		</div>
	</div>
	<div uib-accordion-group class="panel-default" heading="Cités" is-open="false" ng-init="sortCity=true;fiCity=false;">
		<filtre name="City" item="filCity"></filtre> | <input type="checkbox" ng-model="sortCity" id="sCity" class="sr-only"/> <label for="sCity"><span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet':sortCity,'glyphicon-sort-by-attributes':!sortCity}"> </span></label>
		<div class="citylist">
			<div ng-repeat="(key,city) in VM.Data.Map.Cities | orderObjectBy:(sortCity?'key':['Type','key']) | filter:filCity" ng-class="{active:(VM.Data.Map.Focus.Nation==city.Nation)||(VM.Data.Map.Focus.City==city.key)}" ng-mouseover="VM.Data.OverInfoCity(city.key)">
				<div>{{city.key}}</div>
				<div>{{city.Type}}</div>
			</div>
		</div>
	</div>
	<div uib-accordion-group class="panel-default" heading="Affichage" is-open="true">
		<div class="row">
			<div class="col-xs-6">
				<div class="text-center" svg-rose></div>
			</div>
			<div class="col-xs-6">
				<input type="checkbox" ng-change="VM.Data.Save()" ng-model="VM.Data.Layer.iFond" id="cbFond">&nbsp;<label for="cbFond" ng-class="VM.Data.Layer.iFond?'text-success':'text-muted'"><i class="glyphicon glyphicon-globe" aria-hidden="true"></i> Fond</label><br/>
				<input type="checkbox" ng-change="VM.Data.Save()" ng-model="VM.Data.Layer.gHex" id="cbHex">&nbsp;<label for="cbHex" ng-class="VM.Data.Layer.gHex?'text-success':'text-muted'"><i class="glyphicon glyphicon-th" aria-hidden="true"></i> Hexagones</label><br/>
				 &nbsp;&nbsp;&nbsp;<input type="checkbox" ng-change="VM.Data.Save()" ng-disabled="!VM.Data.Layer.gHex" ng-model="VM.Data.Layer.cLand" id="cbLand">&nbsp;<label for="cbLand" ng-class="(VM.Data.Layer.cLand && VM.Data.Layer.gHex)?'text-success':'text-muted'"><i class="glyphicon glyphicon-adjust" aria-hidden="true"></i> Limiter aux Terres</label><br/>
				<input type="checkbox" ng-change="VM.Data.Save()" ng-model="VM.Data.Layer.gCities" id="cbCities">&nbsp;<label for="cbCities" ng-class="VM.Data.Layer.gCities?'text-success':'text-muted'"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> Cités</label><br/>
				&nbsp;<br/>
				<button class="btn btn-default" ng-click="VM.Zoom.Frame(-1)"><i class="glyphicon glyphicon-resize-small text-success" aria-hidden="true"></i></button>&nbsp;/&nbsp;<button class="btn btn-default" ng-click="VM.Zoom.Frame(+1)"><i class="glyphicon glyphicon-resize-full text-success" aria-hidden="true"></i></button> 
			</div>
		</div>
	</div>
	<div uib-accordion-group ng-class="VM.Data.Modif?'panel-danger':'panel-default' " heading="Administration" is-open="true" ng-show="VM.Auth.isLoggedIn()">
		<input type="checkbox" ng-model="VM.Data.Modif" id="cbMdf">&nbsp;<label for="cbMdf">Mode {{VM.Data.Modif?'Modif':'Normal'}}</label><br/>
		<input type="checkbox" ng-model="VM.Data.Swap" id="cbSwap">&nbsp;<label for="cbSwap">Forcer hexagones</label><br/>
		<br/>
		<a class="btn btn-default" href="#/Adm" role="button">Accéder à la zone Admin</a><br/>
	</div>
</uib-accordion>