<uib-accordion close-others="false">
	<div uib-accordion-group class="panel-default" heading="Connexion" is-open="true" ng-hide="VM.Auth.isLoggedIn()">
		Log : <input type="text" ng-model="alog"> <br/> Pwd : <input type="password" ng-model="apwd"> <br/> <button class="btn btn-default" type="button" ng-click="VM.connect(alog,apwd)">Log In</button>
	</div>
	<div uib-accordion-group class="panel-default" heading="Déconnexion" is-open="true" ng-show="VM.Auth.isLoggedIn()">
		{{VM.Auth.isLoggedIn().email}} <button class="btn btn-default" type="button" ng-click="VM.unlog()">Log Out</button>
	</div>
</uib-accordion>