<uib-accordion close-others="false" ng-cloak>
	<div uib-accordion-group class="panel-default" heading="{{VM.Data.Modif?'Mode Actuel : Modif':'Mode Actuel : Normal' }}" is-open="true">
		<button class="btn btn-default" ng-click="VM.Toggle()">Changer mode</button>
		<div ng-show="VM.Data.Modif" uib-alert class="alert-danger" >En mode Modif, vous pouvez créer des nations et leur (ré-)affecter des hexagones. Pensez à exporter pour conserver vos modifs.</div>
	</div>
	<div uib-accordion-group class="panel-default" heading="Modifs" is-open="true" ng-show="VM.Data.Modif">
		<table>
			<tbody ng-show="VM.Data.Map.Focus.Nation">
				<tr>
					<td>Modifier Nation <b>{{VM.Data.Map.Focus.Nation}}</b></td>
				</tr>
				<tr>
					<td>Nom : <input type="text" ng-model="VM.Data.Map.Nations[VM.Data.Map.Focus.Nation].Nom"></td>
				</tr>
				<tr>
					<td>Nom Détaillé : <input type="text" ng-model="VM.Data.Map.Nations[VM.Data.Map.Focus.Nation].NomLong"></td>
				</tr>
				<tr>
					<td>Couleur <span class="glyphicon glyphicon-home" style="color:{{VM.Data.Map.Nations[VM.Data.Map.Focus.Nation].Couleur}}"> </span> : <input type="text" ng-model="VM.Data.Map.Nations[VM.Data.Map.Focus.Nation].Couleur"></td>
				</tr>
			</tbody>
			<tbody ng-hide="VM.Data.Map.Focus.Nation">
				<tr>
					<td>Ajouter Nation (ex : STK)</td>
				</tr>
				<tr>
					<td><input type="text" ng-model="VM.New" ng-pattern="/^[A-Z]{2,4}$/" size="4"> <button class="btn btn-default" ng-disabled="!VM.New" ng-click="VM.Add(VM.New)">Add</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div uib-accordion-group class="panel-default" heading="Nouvelle Nation" is-open="true" ng-show="VM.Data.Modif && VM.Data.Map.Focus.Nation">
		<button class="btn btn-default" ng-click="VM.Vide()">Ajouter une Nation</button>
	</div>
	<div uib-accordion-group class="panel-default" heading="Export" is-open="false">
		<button class="btn btn-default" ng-click="VM.Xport()">Exporter</button> <input type="checkbox" ng-model="VM.Json"><br/>
		<div ng-show="VM.Json">{{VM.Xpt|json}}</div>
	</div>
	<div uib-accordion-group class="panel-default" heading="Consultation" is-open="true">
		<a class="btn btn-default" href="#/" role="button">Back</a>
	</div>
</uib-accordion>