svg .H {
    stroke-width: 0;
    stroke: #fff;
    fill: #f00;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
    z-index: 50;
	 fill-opacity: 0;
	 stroke-opacity: 0;
}

#D41, #D36, #D79, #D86, #D37 {
    stroke: blue;    
}

svg .H:hover , .H.active {
    cursor: pointer;
	 fill-opacity: 0.25;
    z-index: 100;
}

.regionlist {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.regionlist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

.regionlist > div.active {
    font-weight: bold;
    background-color: lightblue;
}

.regionlist > div > div {
    display: inline-block;
    width: 48%;
}

.scale {
    position: relative;
}
.scale div {
    width: 9.07%;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
}