svg .H {
    stroke-width: 0;
    stroke: #fff;
    fill: #f00;

    -webkit-transition: stroke 0.5s, stroke-width 0.5s;
    -o-transition: stroke 0.5s, stroke-width 0.5s;
    transition: stroke 0.5s, stroke-width 0.5s;
    z-index: 50;
	 fill-opacity: 0;
	 stroke-opacity: 0;
}

svg .Z {
    stroke-width: 0;
    z-index: 25;
	 fill-opacity: 0;
	 stroke-opacity: 0;
}

svg .H.nation {
    cursor: pointer;
	 fill: #0f0;
	 fill-opacity: 0.25;
    z-index: 90;
}

svg .H:hover {
	cursor: pointer;
	stroke: #f00 !important;
	stroke-opacity: 0.25;
	z-index: 100;
	stroke-width: 10 !important;
}

svg .H.conflit:hover {
	fill: #f00 !important;
	fill-opacity: 0.75 !important;

}

.regionlist {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.regionlist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}

.regionlist > div.active {
    font-weight: bold;
    background-color: lightblue;
}

.regionlist > div > div {
    display: inline-block;
    width: 48%;
}
