@conflit: #F00;
@select: #F00;
@group: #0F0;
@city: #00F;

svg {
	.H {
		stroke-width: 0;
		stroke: #fff;
		fill: @select;

		-webkit-transition: stroke 0.5s, stroke-width 0.5s;
		-o-transition: stroke 0.5s, stroke-width 0.5s;
		transition: stroke 0.5s, stroke-width 0.5s;
		z-index: 50;
		fill-opacity: 0;
		stroke-opacity: 0;

		&.nation {
			cursor: pointer;
			fill: @group;
			fill-opacity: 0.25;
			z-index: 90;
		}

		&:hover {
			cursor: pointer;
			stroke: @select !important;
			stroke-opacity: 0.25;
			z-index: 100;
			stroke-width: 10 !important;
		}

		&.conflit:hover {
			fill: @conflit !important;
			fill-opacity: 0.75 !important;
		}
	}

	.C {
			&.nation {
			cursor: pointer;
			fill: @group !important;
			fill-opacity: 0.75 !important;
			z-index: 95;
		}

		&.city {
			cursor: pointer;
			fill: @city !important;
			fill-opacity: 0.75 !important;
			z-index: 95;
		}
	}
}

.regionlist {
	-webkit-column-count: 2; // Chrome, Safari, Opera
	-moz-column-count: 2; // Firefox 
	column-count: 2;

	& > div {
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid grey;

		&.active {
			font-weight: bold;
			background-color: lightblue;
		}

		& > div {
			display: inline-block;
			width: 22%;
		}

		& > div:first-child {
			display: inline-block;
			width: 48%;
		}
	}
}

.smallinput {
	display: inline-block !important;
	vertical-align: middle !important;
	width: auto !important;
	height: 25px !important;	 
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
    display: none;
}