<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kelkalor Responsive SVG Map</title>
	<!-- build:css css/style.css -->
	<link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../node_modules/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
	<!-- endbuild -->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body ng-app="SvgMapApp" ng-controller="MainCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
				<div class="text-center" svg-map></div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div class="regionlist">
					<div ng-repeat="(key,region) in dummyData.Nations" ng-class="{active:hoverRegion==key}" ng-mouseover="changeHoverRegion(key)">
						<div>{{key}}</div>
						<div>{{region.Hexagones.length | number}}</div>
					</div>
					H: {{hoverRegion}} N: {{dummyData.Hexagones[hoverRegion]}} F: {{ dummyData.Focus | json }}
				</div>
				<table>
					<tr>
						<td> </td>
						<td><button type="button" ng-click="toPan(0,-0.25)">Up</button></td>
						<td> </td>
					</tr>
					<tr>
						<td><button type="button" ng-click="toPan(-0.25,0)">Left</button></td>
						<td><button type="button" ng-click="toZoom(1.1,true)">+</button> <button type="button" ng-click="toZoom(1.1,false)">-</button></td>
						<td><button type="button" ng-click="toPan(0.25,0)">Right</button></td>
					</tr>
					<tr>
						<td> </td>
						<td><button type="button" ng-click="toPan(0,0.25)">down</button></td>
						<td> </td>
					</tr>
					<tr><td colspan="3"><button type="button" ng-click="tog('iFond')">Fond</button> <button type="button" ng-click="tog('gHex')">Hexagones</button></td></tr>
				</table>
			</div>
		</div>
	</div>
	<!-- build:jsm js/app.js -->
	<!-- AngularJS -->
	<script src="../node_modules/angular/angular.min.js"></script>
	<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="../node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
	<!-- endbuild -->
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>
</body>

</html>