<!DOCTYPE html>
<html>

<head lang="fr">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kelkalor Responsive SVG Map</title>
	<!-- build:css css/style.css -->
	<link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../node_modules/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">
	<!-- endbuild -->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body ng-app="SvgMapApp" ng-controller="MainCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
				<div class="text-center" svg-map></div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div class="regionlist">
					<div ng-repeat="(key,region) in Data.Map.Nations" ng-class="{active:Data.Map.Focus.Nation==key}" ng-mouseover="Data.OverNation(key)">
						<div>{{region.Nom}}</div>
						<div>{{region.Hexs.length | number}}</div>
					</div>
					<!--H: {{Data.Map.Focus.Over}} N: {{Data.Map.Hexs[Data.Map.Focus.Over]}} F: {{ Data.Map.Focus.Hexs | json }}-->
				</div>
				<table>
					<tr>
						<td> </td>
						<td><button type="button" ng-click="Zoom.Move(0,-0.25)">Up</button></td>
						<td> </td>
					</tr>
					<tr>
						<td><button type="button" ng-click="Zoom.Move(-0.25,0)">Left</button></td>
						<td><button type="button" ng-click="Zoom.InOut(1.1,true)">+</button> <button type="button" ng-click="Zoom.InOut(1.1,false)">-</button></td>
						<td><button type="button" ng-click="Zoom.Move(0.25,0)">Right</button></td>
					</tr>
					<tr>
						<td> </td>
						<td><button type="button" ng-click="Zoom.Move(0,0.25)">Down</button></td>
						<td> </td>
					</tr>
					<tr><td colspan="3"><button type="button" ng-click="tog('iFond')">Fond</button> <button type="button" ng-click="tog('gHex')">Hexagones</button></td></tr>
					<tr>
						<td colspan="3">Log : <input type="text" ng-model="alog"> <br/> Pwd : <input type="password" ng-model="apwd"> <br/> <button type="button" ng-click="connect()">Admin</button> {{cnt | json}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- build:jsm js/app.js -->
	<!-- AngularJS -->
	<script src="../node_modules/angular/angular.min.js"></script>
	<!-- Firebase -->
	<script src="../node_modules/firebase/firebase.js"></script>
	<!-- AngularFire -->
	<script src="../node_modules/angularfire/dist/angularfire.min.js"></script>
	<!-- AngularBootstrap -->
	<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<!-- Ng Loading Bar -->
	<script src="../node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
	<!-- endbuild -->
	<!-- build:jsi js/script.js -->
	<script src="../tpl/js/firebase.js"></script>
	<script src="../tpl/js/controllers.js"></script>
	<script src="../tpl/js/directives.js"></script>
	<script src="../tpl/js/services.js"></script>
	<script src="../tpl/js/filters.js"></script>
	<!-- endbuild -->
</body>

</html>